body {
	margin: 0;
	padding: 0;
}
.margen {
	margin: 100px;
}
table {
	width: 100%;
	text-align: left;
}
table td {
	padding: 10px 0;
}
table th {
	color: #ff0076;
}

#menu {
	background-color: #ff0076;
	padding: 20px;
	font-size: 20px;
}
#menu a {
	color: white;
	padding-right: 50px;
}
